@charset "utf-8";html{color:#000;}
body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,figure,form,fieldset,legend,input,textarea,button,p,blockquote,th,td,pre,xmp{margin:0;padding:0}
/*body,input,textarea,button,select,pre,xmp,tt,code,kbd,samp{line-height:1.5;}*/
/*h1,h2,h3,h4,h5,h6,small,big,input,textarea,button,select{font-size:100%}*/
/*h1,h2,h3,h4,h5,h6{font-family:tahoma,arial,"Hiragino Sans GB","微软雅黑",simsun,sans-serif}*/
/*h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal}*/
/*address,cite,dfn,em,i,optgroup,var{font-style:normal}*/
table{border-collapse:collapse;border-spacing:0;text-align:left}
caption,th{text-align:inherit}
ul,ol,menu{list-style:none}
fieldset,img{border:0}
img,object,input,textarea,button,select{vertical-align:middle}
article,aside,footer,header,section,nav,figure,figcaption,hgroup,details,menu{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
blockquote:before,blockquote:after,q:before,q:after{content:"\0020"}
textarea{overflow:auto;resize:vertical}
input,textarea,button,select,a{outline:0 none;border: none;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
mark{background-color:transparent}
a,ins,s,del{text-decoration:none}
sup,sub{vertical-align:baseline}
html {overflow-x: hidden;height: 100%;-webkit-tap-highlight-color: transparent;}
body {color: #333;line-height: 1;-webkit-text-size-adjust: none;}
hr {height: .02rem;margin: .1rem 0;border: medium none;border-top: .02rem solid #cacaca;}
a {color: #25a4bb;text-decoration: none;}
.el-message {
    top: 80px !important;
    min-width: 0;
    width: auto;
    padding: 13px 13px 13px 18px
}

@media screen and (max-width: 767px){
   .el-message {
        top: 60px !important;
        min-width: 0;
        width: auto;
        background: rgba(0,0,0,0.46);
        border-color: rgba(0,0,0,0);
        padding: 13px 13px 13px 18px
    }
    .el-message--success .el-message__content, .el-message .el-icon-success,
    .el-message__icon .el-icon-error, .el-message__icon .el-icon-error ,.el-message .el-icon-error,
    .el-message--error .el-message__content, .el-message--info .el-message__content, .el-message .el-icon-info,
    .el-message--warning .el-message__content, .el-message .el-icon-warning
    {
        color: #ffffff;
    }
    .el-message-box {
        width: 300px;
        border-radius:0;
    }

}
.el-popover .play-url {
    border: none;
    color: #2d8cf0;
    line-height: 25px;
    text-align: justify;
    font-size: 14px
}
.el-popover {
    width:auto !important;
    padding: 20px 15px;
    max-width: 400px;

}
/*分割线*/
.el-divider--horizontal {
    margin: 6px auto 0;
    width: 90%
}

.cursor {
    cursor: pointer;
}
/*主题颜色*/
.el-button--primary, .el-radio__input.is-checked .el-radio__inner{
    background-color: #1162F9;
    /*border-color: #1162F9;*/
    border: none;
    border-radius: 20px
}
.el-radio__input.is-checked+.el-radio__label {
    color: #1162F9;
}
.active .el-input {
    border-bottom: 1px solid #1162F9
}
el-button--primary:focus, .el-button--primary:hover {
    background: #1162F9;
    border: none;
    color: #FFF;
}
 .el-button:focus, .el-button:hover {
     color: #1162F9;
     border: 1px solid #1162F9;
     background: none;
 }
 .el-button--primary:focus, .el-button--primary:hover {
     background: #1162F9;
     border-color: #1162F9;
     color: #FFF;
 }
.el-input__inner{
    border-radius: 0;
    border:none;
    border-bottom: 1px solid #eaeaea
}
/*.el-input__inner:focus{*/
/*    border-radius: 0;*/
/*    border:none;*/
/*    border-bottom: 1px solid #1162F9*/
/*}*/
.el-select .el-input__inner:focus {
    border-color: #1162F9;
}
.el-select{
    width: 100%;
}
.el-select .el-input.is-focus .el-input__inner {
    border-color: #1162F9;
}
.el-select-dropdown__item.selected {
    color: #ffffff;
    font-weight: 700;
    font-family: PingFangSC-Regular;
}
.el-input--suffix .el-input__inner{
    padding-left: 70px;
}
.el-button:focus, .el-button:hover{
    border-color: #1162F9;
}
.el-button {
    box-sizing: border-box;
    border: 1px solid #1162F9;
    border-radius:25px;
}
.el-button--mini, .el-button--small {
    border-radius:15px;
}
.el-button--small, .el-button--small.is-round {
    padding: 8px 14px;
}
button {
    font-family: PingFangSC-Regular , Microsoft YaHei, Arial, Helvetica, sans-serif, SimSun !important;
}

 .el-select-dropdown {
    position: absolute;
    z-index: 1001;
    border: none;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.3);
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0);
    box-sizing: border-box;
    margin: 5px 0;
    color: #ffffff;
}
.el-select-dropdown__item{
    color: #ffffff;
    font-family: PingFangSC-Regular;
    font-size: 14px;
}
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
    background-color: rgba(0,0,0,0.5);
}
.el-popper[x-placement^=bottom] .popper__arrow {
    display: none;
}
.v-modal{
    display: none;
}
